.App {
  text-align: center;
  margin: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: black;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-button {
  border: none;
  padding: 0;
  background: none;
}

fieldset {
  width: 80%;
}

legend {
  text-align: left;
  color: black;
  font-size: 36px;
}

fieldset p {
  font-size: 48px;
  text-align: left;
}

.Zodiac-signs {
  font-size: 60pt;
  text-align: center;
  margin: 30px;
}

.horoscope-button {
  font-size: 60pt;
  text-align: center;
  margin: 7px;
  background-color: transparent;
  line-height: inherit;
  border-width: 0;
  padding: 0;
}

body {
  background-color: #cccccc;
}